#include "mainrc.h"
#include <windows.h>
picomenu MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New\tCtrl+N",	IDM_NEW
		MENUITEM "New &Instance",	IDM_NEWINSTANCE
		MENUITEM "&Open\tCtrl+O",	IDM_OPEN
		MENUITEM "&Save\tCtrl+S",	IDM_SAVE
		MENUITEM "Save &as...",	IDM_SAVEAS
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tEsc",	IDM_EXIT
	END
	POPUP "&Options"
	BEGIN
		MENUITEM "&Colors...",	IDM_COLORS
		MENUITEM "&Font",	IDM_FONT
		MENUITEM "&Paged",	IDM_PAGED
		POPUP "&HAlign"
		BEGIN
			MENUITEM "Left",	IDM_HALIGNLEFT, CHECKED
			MENUITEM "Center",	IDM_HALIGNCENTER
			MENUITEM "Right",	IDM_HALIGNRIGHT
		END
		POPUP "&VAlign", INACTIVE, GRAYED
		BEGIN
			MENUITEM "Top",	IDM_VALIGNTOP, CHECKED
			MENUITEM "Center",	IDM_VALIGNCENTER
			MENUITEM "Bottom",	IDM_VALIGNBOTTOM
		END
	END
	POPUP "&?"
	BEGIN
		MENUITEM "&Help\tF1",	IDM_HELP
		MENUITEM SEPARATOR
		MENUITEM "&About",	IDM_ABOUT
	END
END

picoaccels ACCELERATORS
BEGIN
	"^O", IDM_OPEN
	"^N", IDM_NEW
	"^S", IDM_SAVE
	VK_F1, IDM_HELP, VIRTKEY
END

IDI_MYICON ICON valve.ico

aboutdialog DIALOG DISCARDABLE  10, 10, 190, 57
STYLE WS_POPUP | WS_CAPTION | DS_CENTER
FONT 8, "MS Sans Serif"
CAPTION "About..."
BEGIN
    CTEXT           "PICO v.0.1a, by (c) Dmitry Chuchva, 2005",1,41,15,140,12
    PUSHBUTTON      "OK",IDB_OK,73,33,50,14
    ICON            IDI_MYICON,3,10,8,21,20
END
